# Summary Of Session 5

6 September 2022

# Pandas

Pandas adalah tools analisis dan manipulasi data open source yang cepat, powerful, fleksibel, dan mudah digunakan, dibangun di atas bahasa pemrograman Python. 

Pandas is like Excel in Python: it uses tables (namely DataFrame) and operates transformations on the data. But it can do a lot more.

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv')

In [ ]:
ln(df)

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
pd.set_option("display.max.columns", None)

In [ ]:
pd.set_option("display.precision", 2)

In [ ]:
df.tail()

In [ ]:
df.tail(3)

In [ ]:
# Mengetahui tipe data tiap kolom
df.info()

In [ ]:
# Mendapatkan overview tentang nilai yang terkandung pada tiap kolom
df.describe()

In [6]:
import pandas as pd
# pd.Series(data, index, dtype, copy)
var = pd.Series()
print(var)

Series([], dtype: float64)

C:\Users\KRISMANTO\AppData\Local\Temp\ipykernel_2780\1794006891.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  var = pd.Series()

In [9]:
import pandas as pd 
import numpy as np
datanp = np.array(['x','y','z','a','q'])
Series1 = pd.Series(datanp)
print(Series1)

0    x
1    y
2    z
3    a
4    q
dtype: object

In [21]:
datanp = np.array(['a','q','qe','y','z'])
dts = pd.Series(datanp,index=[10,11,12,13,14])
print(dts)

10     a
11     q
12    qe
13     y
14     z
dtype: object

In [29]:
#print(dts[10])
print(dts[11:13])
print(dts.values)
print(dts.index)

Series([], dtype: object)
['a' 'q' 'qe' 'y' 'z']
Int64Index([10, 11, 12, 13, 14], dtype='int64')

In [31]:
print(dts.iloc)
print(dts.loc)

<pandas.core.indexing._iLocIndexer object at 0x000001617FDCE860>
<pandas.core.indexing._LocIndexer object at 0x000001617FD99770>

In [36]:
import pandas as pd 
import numpy as np
dats = pd.Series([1,2,3,4]),index=([1,3,4,5])
print(dats)
print(dats.index)

SyntaxError: cannot assign to function call (3316659147.py, line 3)

Bintang tadi untuk apa ya pak 

kalau mau manggil data ke nol 

kalau mau panggil 0,0 gimana gtu ya

In [18]:
datadict = {'a':0.7,'b':2}
dtsdict = pd.Series(datadict)
print(dtsdict)

a    0.7
b    2.0
dtype: float64

In [24]:
datanp = np.array(['a':0.7,'b':2])
dts = pd.Series(datanp,index=['e','q'])
print(dts)

SyntaxError: invalid syntax (1618452235.py, line 1)

# Data Frame

In [44]:
import pandas as pd 
datadict = { 'name' : ['Budi','Ivan','Wati'],
           'age' : [10,20,40],
            'address':['DKI','Bandung','Bogor'],
            'qualification':['msc','msc','aa']
           }
df = pd.DataFrame(datadict)
print(df)
df[['name','qualification']]

   name  age  address qualification
0  Budi   10      DKI           msc
1  Ivan   20  Bandung           msc
2  Wati   40    Bogor            aa

   name qualification
0  Budi           msc
1  Ivan           msc
2  Wati            aa

In [45]:
df.loc[df['qualification']=='aa']

   name  age address qualification
2  Wati   40   Bogor            aa

In [47]:
for i,j in df.iterrows():
    print(i,j)
    print()

0 name             Budi
age                10
address           DKI
qualification     msc
Name: 0, dtype: object

1 name                Ivan
age                   20
address          Bandung
qualification        msc
Name: 1, dtype: object

2 name              Wati
age                 40
address          Bogor
qualification       aa
Name: 2, dtype: object

In [48]:
dfangka = pd.DataFrame({'x':[1,2],'y':[10,20]})
print(dfangka)

   x   y
0  1  10
1  2  20

In [49]:
def square(x):
    return x*x

dfsquare = dfangka.apply(square)
print(dfsquare)
#ulang ga jelas

   x    y
0  1  100
1  4  400

In [51]:
import requests

In [ ]:
response

In [40]:
pip install panda

Collecting panda
  Downloading panda-0.3.1.tar.gz (5.8 kB)
Requirement already satisfied: setuptools in c:\users\krismanto\anaconda3\lib\site-packages (from panda) (61.2.0)
Requirement already satisfied: requests in c:\users\krismanto\anaconda3\lib\site-packages (from panda) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\krismanto\anaconda3\lib\site-packages (from requests->panda) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\krismanto\anaconda3\lib\site-packages (from requests->panda) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\krismanto\anaconda3\lib\site-packages (from requests->panda) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\krismanto\anaconda3\lib\site-packages (from requests->panda) (3.3)
Building wheels for collected packages: panda
  Building wheel for panda (setup.py): started
  Building wheel for panda (setup.py): finished with status 'done'
  Created wheel for panda: filename=panda-0.3.1-py3-none-any.whl size=7256 sha256=9614c5809a57a2b1aa6c8e7698a55c560a1957da20828c92c967f478008e5455
  Stored in directory: c:\users\krismanto\appdata\local\pip\cache\wheels\6c\5a\a9\a28c87238ddcc61701224f538bedccc21c9e2b8bc6fa8fca0e
Successfully built panda
Installing collected packages: panda
Successfully installed panda-0.3.1
Note: you may need to restart the kernel to use updated packages.