# Summary Of Session 5

6 September 2022

# Pandas

Pandas adalah tools analisis dan manipulasi data open source yang cepat, powerful, fleksibel, dan mudah digunakan, dibangun di atas bahasa pemrograman Python. 

Pandas is like Excel in Python: it uses tables (namely DataFrame) and operates transformations on the data. But it can do a lot more.

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv')

In [ ]:
ln(df)

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
pd.set_option("display.max.columns", None)

In [ ]:
pd.set_option("display.precision", 2)

In [ ]:
df.tail()

In [ ]:
df.tail(3)

In [ ]:
# Mengetahui tipe data tiap kolom
df.info()

In [ ]:
# Mendapatkan overview tentang nilai yang terkandung pada tiap kolom
df.describe()

# New

In [1]:
import pandas as pd
# pd.Series(data, index, dtype, copy)
var = pd.Series()
print(var)

Series([], dtype: float64)

C:\Users\KRISMANTO\AppData\Local\Temp\ipykernel_12060\1794006891.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  var = pd.Series()

In [7]:
import pandas as pd 
import numpy as np
datanp = np.array(['x','y','z','a','q'])
Series1 = pd.Series(datanp)
print(Series1)

0    x
1    y
2    z
3    a
4    q
dtype: object

In [8]:
datanp = np.array(['a','q','qe','y','z'])
dts = pd.Series(datanp,index=[10,11,12,13,14])
print(dts)

10     a
11     q
12    qe
13     y
14     z
dtype: object

In [13]:
print(dts[10])
print(dts[0:2])
print(dts.values)
print(dts.index)

a
10    a
11    q
dtype: object
['a' 'q' 'qe' 'y' 'z']
Int64Index([10, 11, 12, 13, 14], dtype='int64')

In [20]:
datanpa = np.array([10,11,12,13,14])
dtsa = pd.Series(datanpa,index=['a','q','qe','y','z'])

print('a',"ini anya")
print(dtsa['a':'qe'])

a ini anya
a     10
q     11
qe    12
dtype: int32

In [23]:
print(dtsa.values)
dtsa.index

[10 11 12 13 14]

Index(['a', 'q', 'qe', 'y', 'z'], dtype='object')

In [27]:
print(dts.iloc[0])# Lebih ke 
print(dts.loc[10]) # untuk misal kolom nya nomor 3 ya arraynya 3

a
a

In [39]:
import pandas as pd 
import numpy as np
dats = pd.Series([1,2,3,4],index=[1,3,4,5])
print(dats)
print(dats.index)
print(dats.loc[3])
print(dats.iloc[3],'stop')
print(dats.loc[1:4],' Ini Datanya')
print(dats.iloc[1:2])
# Enak pake loc pada dasranya

1    1
3    2
4    3
5    4
dtype: int64
Int64Index([1, 3, 4, 5], dtype='int64')
2
4 stop
1    1
3    2
4    3
dtype: int64  Ini Datanya
3    2
dtype: int64

Bintang tadi untuk apa ya pak 

kalau mau manggil data ke nol 

kalau mau panggil 0,0 gimana gtu ya

In [18]:
datadict = {'a':0.7,'b':2}
dtsdict = pd.Series(datadict)
print(dtsdict)

a    0.7
b    2.0
dtype: float64

In [24]:
datanp = np.array(['a':0.7,'b':2])
dts = pd.Series(datanp,index=['e','q'])
print(dts)

SyntaxError: invalid syntax (1618452235.py, line 1)

# Data Frame

In [44]:
import pandas as pd 
datadict = { 'name' : ['Budi','Ivan','Wati'],
           'age' : [10,20,40],
            'address':['DKI','Bandung','Bogor'],
            'qualification':['msc','msc','aa']
           }
df = pd.DataFrame(datadict)
print(df)
df[['name','qualification']]

   name  age  address qualification
0  Budi   10      DKI           msc
1  Ivan   20  Bandung           msc
2  Wati   40    Bogor            aa

   name qualification
0  Budi           msc
1  Ivan           msc
2  Wati            aa

In [45]:
df.loc[df['qualification']=='aa']

   name  age address qualification
2  Wati   40   Bogor            aa

In [47]:
for i,j in df.iterrows():
    print(i,j)
    print()

0 name             Budi
age                10
address           DKI
qualification     msc
Name: 0, dtype: object

1 name                Ivan
age                   20
address          Bandung
qualification        msc
Name: 1, dtype: object

2 name              Wati
age                 40
address          Bogor
qualification       aa
Name: 2, dtype: object

In [48]:
dfangka = pd.DataFrame({'x':[1,2],'y':[10,20]})
print(dfangka)

   x   y
0  1  10
1  2  20

In [49]:
def square(x):
    return x*x

dfsquare = dfangka.apply(square)
print(dfsquare)
#ulang ga jelas

   x    y
0  1  100
1  4  400

In [45]:
pip install requests

Requirement already satisfied: requests in c:\users\krismanto\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\krismanto\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\krismanto\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\krismanto\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\krismanto\anaconda3\lib\site-packages (from requests) (1.26.9)
Note: you may need to restart the kernel to use updated packages.

In [47]:
import requests
download_link = 'https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv'
response = requests.get(download_link)

In [58]:
print(type(response.status_code))
print(response.status_code)
if 200 >= response.status_code < 400:
    print('Seccess')
else:
    print("Error")

<class 'int'>
200
Seccess

In [61]:
with open('nba_a;;_elo.csv','wb') as f:
    f.write(response.content)

In [62]:

# https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/property_data.csv
# df = 
# df_link = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv')

df_fldr = pd.read_csv("nba_a;;_elo.csv") # satu folder
# kalau tidak satu folder maka bisa change directory dengan read csv 
# Berikut : pd.read_csv("c:user\krismanto\blbabal\ahha.csv")

In [63]:
print(df_fldr)

        gameorder       game_id lg_id  _iscopy  year_id  date_game  \
0               1  194611010TRH   NBA        0     1947  11/1/1946
1               1  194611010TRH   NBA        1     1947  11/1/1946
2               2  194611020CHS   NBA        0     1947  11/2/1946
3               2  194611020CHS   NBA        1     1947  11/2/1946
4               3  194611020DTF   NBA        0     1947  11/2/1946
...           ...           ...   ...      ...      ...        ...
126309      63155  201506110CLE   NBA        0     2015  6/11/2015
126310      63156  201506140GSW   NBA        0     2015  6/14/2015
126311      63156  201506140GSW   NBA        1     2015  6/14/2015
126312      63157  201506170CLE   NBA        0     2015  6/16/2015
126313      63157  201506170CLE   NBA        1     2015  6/16/2015

        seasongame  is_playoffs team_id    fran_id  ...  win_equiv  opp_id  \
0                1            0     TRH    Huskies  ...  40.294830     NYK
1                1            0     NYK     Knicks  ...  41.705170     TRH
2                1            0     CHS      Stags  ...  42.012257     NYK
3                2            0     NYK     Knicks  ...  40.692783     CHS
4                1            0     DTF    Falcons  ...  38.864048     WSC
...            ...          ...     ...        ...  ...        ...     ...
126309         100            1     CLE  Cavaliers  ...  60.309792     GSW
126310         102            1     GSW   Warriors  ...  68.013329     CLE
126311         101            1     CLE  Cavaliers  ...  60.010067     GSW
126312         102            1     CLE  Cavaliers  ...  59.290245     GSW
126313         103            1     GSW   Warriors  ...  68.519516     CLE

         opp_fran  opp_pts  opp_elo_i  opp_elo_n  game_location  game_result  \
0          Knicks       68  1300.0000  1306.7233              H            L
1         Huskies       66  1300.0000  1293.2767              A            W
2          Knicks       47  1306.7233  1297.0712              H            W
3           Stags       63  1300.0000  1309.6521              A            L
4        Capitols       50  1300.0000  1320.3811              H            L
...           ...      ...        ...        ...            ...          ...
126309   Warriors      103  1790.9591  1809.9791              H            L
126310  Cavaliers       91  1704.3949  1700.7391              H            W
126311   Warriors      104  1809.9791  1813.6349              A            L
126312   Warriors      105  1813.6349  1822.2881              H            L
126313  Cavaliers       97  1700.7391  1692.0859              A            W

        forecast notes
0       0.640065   NaN
1       0.359935   NaN
2       0.631101   NaN
3       0.368899   NaN
4       0.640065   NaN
...          ...   ...
126309  0.546572   NaN
126310  0.765565   NaN
126311  0.234435   NaN
126312  0.481450   NaN
126313  0.518550   NaN

[126314 rows x 23 columns]

In [64]:
df_link = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv')
df_link

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [40]:
pd.__version__

'1.4.2'

In [65]:
len(df_fldr)

126314

In [66]:
len(df_link)

126314

In [70]:
df_fldr.shape
df_fldr.head() # 5 baris
df_fldr.head(2) # 5 baris

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.29483,NYK,Knicks,68,1300.0,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.70517,TRH,Huskies,66,1300.0,1293.2767,A,W,0.359935,NaN

In [71]:
df_fldr.tail(1)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.51855,NaN

In [75]:
pd.set_option("display.max.columns",None) # ga tau buat apa

In [74]:
df_fldr.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [77]:
df_link.info

<bound method DataFrame.info of         gameorder       game_id lg_id  _iscopy  year_id  date_game  \
0               1  194611010TRH   NBA        0     1947  11/1/1946
1               1  194611010TRH   NBA        1     1947  11/1/1946
2               2  194611020CHS   NBA        0     1947  11/2/1946
3               2  194611020CHS   NBA        1     1947  11/2/1946
4               3  194611020DTF   NBA        0     1947  11/2/1946
...           ...           ...   ...      ...      ...        ...
126309      63155  201506110CLE   NBA        0     2015  6/11/2015
126310      63156  201506140GSW   NBA        0     2015  6/14/2015
126311      63156  201506140GSW   NBA        1     2015  6/14/2015
126312      63157  201506170CLE   NBA        0     2015  6/16/2015
126313      63157  201506170CLE   NBA        1     2015  6/16/2015

        seasongame  is_playoffs team_id    fran_id  pts      elo_i      elo_n  \
0                1            0     TRH    Huskies   66  1300.0000  1293.2767
1                1            0     NYK     Knicks   68  1300.0000  1306.7233
2                1            0     CHS      Stags   63  1300.0000  1309.6521
3                2            0     NYK     Knicks   47  1306.7233  1297.0712
4                1            0     DTF    Falcons   33  1300.0000  1279.6189
...            ...          ...     ...        ...  ...        ...        ...
126309         100            1     CLE  Cavaliers   82  1723.4149  1704.3949
126310         102            1     GSW   Warriors  104  1809.9791  1813.6349
126311         101            1     CLE  Cavaliers   91  1704.3949  1700.7391
126312         102            1     CLE  Cavaliers   97  1700.7391  1692.0859
126313         103            1     GSW   Warriors  105  1813.6349  1822.2881

        win_equiv opp_id   opp_fran  opp_pts  opp_elo_i  opp_elo_n  \
0       40.294830    NYK     Knicks       68  1300.0000  1306.7233
1       41.705170    TRH    Huskies       66  1300.0000  1293.2767
2       42.012257    NYK     Knicks       47  1306.7233  1297.0712
3       40.692783    CHS      Stags       63  1300.0000  1309.6521
4       38.864048    WSC   Capitols       50  1300.0000  1320.3811
...           ...    ...        ...      ...        ...        ...
126309  60.309792    GSW   Warriors      103  1790.9591  1809.9791
126310  68.013329    CLE  Cavaliers       91  1704.3949  1700.7391
126311  60.010067    GSW   Warriors      104  1809.9791  1813.6349
126312  59.290245    GSW   Warriors      105  1813.6349  1822.2881
126313  68.519516    CLE  Cavaliers       97  1700.7391  1692.0859

       game_location game_result  forecast notes
0                  H           L  0.640065   NaN
1                  A           W  0.359935   NaN
2                  H           W  0.631101   NaN
3                  A           L  0.368899   NaN
4                  H           L  0.640065   NaN
...              ...         ...       ...   ...
126309             H           L  0.546572   NaN
126310             H           W  0.765565   NaN
126311             A           L  0.234435   NaN
126312             H           L  0.481450   NaN
126313             A           W  0.518550   NaN

[126314 rows x 23 columns]>

In [78]:
df_link.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000
mean,31579.000000,0.500000,1988.200374,43.533733,0.063857,102.729982,1495.236055,1495.236055,41.707889,102.729982,1495.236055,1495.236055,0.500000
std,18231.927643,0.500002,17.582309,25.375178,0.244499,14.814845,112.139945,112.461687,10.627332,14.814845,112.139945,112.461687,0.215252
min,1.000000,0.000000,1947.000000,1.000000,0.000000,0.000000,1091.644500,1085.774400,10.152501,0.000000,1091.644500,1085.774400,0.020447
25%,15790.000000,0.000000,1975.000000,22.000000,0.000000,93.000000,1417.237975,1416.994900,34.103035,93.000000,1417.237975,1416.994900,0.327989
50%,31579.000000,0.500000,1990.000000,43.000000,0.000000,103.000000,1500.945550,1500.954400,42.113357,103.000000,1500.945550,1500.954400,0.500000
75%,47368.000000,1.000000,2003.000000,65.000000,0.000000,112.000000,1576.060000,1576.291625,49.635328,112.000000,1576.060000,1576.291625,0.672011
max,63157.000000,1.000000,2015.000000,108.000000,1.000000,186.000000,1853.104500,1853.104500,71.112038,186.000000,1853.104500,1853.104500,0.979553

In [79]:
# https://en.wikipedia.org/wiki/Quantile

SyntaxError: invalid syntax (94306259.py, line 1)

In [80]:
df_link["team_id"].value_counts()

BOS    5997
NYK    5769
LAL    5078
DET    4985
PHI    4533
       ...
INJ      60
PIT      60
DTF      60
TRH      60
SDS      11
Name: team_id, Length: 104, dtype: int64

In [89]:
df_link['fran_id']=="Lakers"

0         True
1         True
2         True
3         True
4         True
          ...
126309    True
126310    True
126311    True
126312    True
126313    True
Name: fran_id, Length: 126314, dtype: bool

In [90]:
df_link[df_link['fran_id']=="Lakers"]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Lakers,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Lakers,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Lakers,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Lakers,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Lakers,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Lakers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Lakers,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Lakers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Lakers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Lakers,105,1813.6349,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [92]:
df_link.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Lakers,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Lakers,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Lakers,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Lakers,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Lakers,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [93]:
df_link.loc[df_link['team_id']=='MNL','date_game']

1136     11/4/1948
1152     11/6/1948
1159     11/9/1948
1170    11/11/1948
1183    11/13/1948
           ...
9701     3/19/1960
9702     3/20/1960
9709     3/22/1960
9711     3/24/1960
9715     3/26/1960
Name: date_game, Length: 946, dtype: object

In [94]:
df_link.loc[df_link['team_id']=='MNL','date_game'].max()

'4/9/1959'

In [96]:
df_link['date_played'] = pd.to_datetime(df_link['date_game'])

In [98]:
df_link.head(1)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,date_played
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Lakers,66,1300.0,1293.2767,40.29483,NYK,Knicks,68,1300.0,1306.7233,H,L,0.640065,NaN,1946-11-01

In [99]:
df_link.loc[df_link['team_id']=='MNL','date_played'].max()

Timestamp('1960-03-26 00:00:00')

In [100]:
df_link.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
 23  date_played    126314 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(7), object(10)
memory usage: 23.1+ MB

In [101]:
df_link.loc[df_link["team_id"]=="MNL","date_game"].agg(("min","max"))

min    1/1/1949
max    4/9/1959
Name: date_game, dtype: object

In [102]:
df_link.loc[df_link["team_id"]=="MNL","date_played"].agg(("min","max"))

min   1948-11-04
max   1960-03-26
Name: date_played, dtype: datetime64[ns]

In [105]:
df_link.loc[df_link["team_id"] == "BOS", "pts"].sum()

626484

In [106]:
df_link.head(1)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,date_played
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Lakers,66,1300.0,1293.2767,40.29483,NYK,Knicks,68,1300.0,1306.7233,H,L,0.640065,NaN,1946-11-01

1:36:16