# Summary Of Session 5

6 September 2022

# Pandas

Pandas adalah tools analisis dan manipulasi data open source yang cepat, powerful, fleksibel, dan mudah digunakan, dibangun di atas bahasa pemrograman Python. 

Pandas is like Excel in Python: it uses tables (namely DataFrame) and operates transformations on the data. But it can do a lot more.

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv')

In [3]:
ln(df)

NameError: name 'ln' is not defined

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
pd.set_option("display.max.columns", None)

In [ ]:
pd.set_option("display.precision", 2)

In [ ]:
df.tail()

In [ ]:
df.tail(3)

In [ ]:
# Mengetahui tipe data tiap kolom
df.info()

In [ ]:
# Mendapatkan overview tentang nilai yang terkandung pada tiap kolom
df.describe()

# New

In [ ]:
import pandas as pd
# pd.Series(data, index, dtype, copy)
var = pd.Series()
print(var)

In [ ]:
import pandas as pd 
import numpy as np
datanp = np.array(['x','y','z','a','q'])
Series1 = pd.Series(datanp)
print(Series1)

In [ ]:
datanp = np.array(['a','q','qe','y','z'])
dts = pd.Series(datanp,index=[10,11,12,13,14])
print(dts)

In [ ]:
print(dts[10])
print(dts[0:2])
print(dts.values)
print(dts.index)

In [ ]:
datanpa = np.array([10,11,12,13,14])
dtsa = pd.Series(datanpa,index=['a','q','qe','y','z'])

print('a',"ini anya")
print(dtsa['a':'qe'])

In [ ]:
print(dtsa.values)
dtsa.index

In [ ]:
print(dts.iloc[0])# Lebih ke 
print(dts.loc[10]) # untuk misal kolom nya nomor 3 ya arraynya 3

In [ ]:
import pandas as pd 
import numpy as np
dats = pd.Series([1,2,3,4],index=[1,3,4,5])
print(dats)
print(dats.index)
print(dats.loc[3])
print(dats.iloc[3],'stop')
print(dats.loc[1:4],' Ini Datanya')
print(dats.iloc[1:2])
# Enak pake loc pada dasranya

Bintang tadi untuk apa ya pak 

kalau mau manggil data ke nol 

kalau mau panggil 0,0 gimana gtu ya

In [ ]:
datadict = {'a':0.7,'b':2}
dtsdict = pd.Series(datadict)
print(dtsdict)

In [ ]:
datanp = np.array(['a':0.7,'b':2])
dts = pd.Series(datanp,index=['e','q'])
print(dts)

# Data Frame

In [ ]:
import pandas as pd 
datadict = { 'name' : ['Budi','Ivan','Wati'],
           'age' : [10,20,40],
            'address':['DKI','Bandung','Bogor'],
            'qualification':['msc','msc','aa']
           }
df = pd.DataFrame(datadict)
print(df)
df[['name','qualification']]

In [ ]:
df.loc[df['qualification']=='aa']

In [ ]:
for i,j in df.iterrows():
    print(i,j)
    print()

In [ ]:
dfangka = pd.DataFrame({'x':[1,2],'y':[10,20]})
print(dfangka)

In [ ]:
def square(x):
    return x*x

dfsquare = dfangka.apply(square)
print(dfsquare)
#ulang ga jelas

In [ ]:
pip install requests

In [ ]:
import requests
download_link = 'https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv'
response = requests.get(download_link)

In [ ]:
print(type(response.status_code))
print(response.status_code)
if 200 >= response.status_code < 400:
    print('Seccess')
else:
    print("Error")

In [ ]:
with open('nba_a;;_elo.csv','wb') as f:
    f.write(response.content)

In [ ]:

# https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/property_data.csv
# df = 
# df_link = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv')

df_fldr = pd.read_csv("nba_a;;_elo.csv") # satu folder
# kalau tidak satu folder maka bisa change directory dengan read csv 
# Berikut : pd.read_csv("c:user\krismanto\blbabal\ahha.csv")

In [ ]:
print(df_fldr)

In [ ]:
df_link = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv')
df_link

In [ ]:
pd.__version__

In [ ]:
len(df_fldr)

In [ ]:
len(df_link)

In [ ]:
df_fldr.shape
df_fldr.head() # 5 baris
df_fldr.head(2) # 5 baris

In [ ]:
df_fldr.tail(1)

In [ ]:
pd.set_option("display.max.columns",None) # ga tau buat apa

In [ ]:
df_fldr.head()

In [ ]:
df_link.info

In [ ]:
df_link.describe()

In [ ]:
# https://en.wikipedia.org/wiki/Quantile

In [ ]:
df_link["team_id"].value_counts()

In [ ]:
df_link['fran_id']=="Lakers"

In [ ]:
df_link[df_link['fran_id']=="Lakers"]

In [ ]:
df_link.head()

In [ ]:
df_link.loc[df_link['team_id']=='MNL','date_game']

In [ ]:
df_link.loc[df_link['team_id']=='MNL','date_game'].max()

In [ ]:
df_link['date_played'] = pd.to_datetime(df_link['date_game'])

In [ ]:
df_link.head(1)

In [ ]:
df_link.loc[df_link['team_id']=='MNL','date_played'].max()

In [ ]:
df_link.info()

In [ ]:
df_link.loc[df_link["team_id"]=="MNL","date_game"].agg(("min","max"))

In [ ]:
df_link.loc[df_link["team_id"]=="MNL","date_played"].agg(("min","max"))

In [ ]:
df_link.loc[df_link["team_id"] == "BOS", "pts"].sum()

In [ ]:
df_link.head(1)

1:36:16

In [ ]:
df_link.loc[df_link["team_id"]=="BOS","date_played"].apply(lamda x: x.year)

In [ ]:
np.array[1,2,3]


# LAMDA SKIP

# Preparation Setting Database

Create database mysql

* mysql> create database h8pytn071;

Create User Database
*mysql> CREATE USER 'userpython'@.%' IDENTIFED BY 'H8pytn071';

In [7]:
* mysql > create database h8pyn071;

SyntaxError: invalid syntax (1941227126.py, line 1)

In [8]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\krismanto\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\krismanto\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [10]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [11]:
pip install cryptography

Requirement already satisfied: cryptography in c:\users\krismanto\anaconda3\lib\site-packages (3.4.8)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: cffi>=1.12 in c:\users\krismanto\anaconda3\lib\site-packages (from cryptography) (1.15.0)
Requirement already satisfied: pycparser in c:\users\krismanto\anaconda3\lib\site-packages (from cffi>=1.12->cryptography) (2.21)

In [26]:
pip install pandas

Requirement already satisfied: pandas in c:\users\krismanto\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\krismanto\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\krismanto\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\krismanto\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\krismanto\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [27]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [28]:
tableName2 = "usertrans3"

In [34]:
du = {"UserId":("x","y","z","a","b"),
                  "order":["1","2","3","5","6"]
                  };
du

{'UserId': ('x', 'y', 'z', 'a', 'b'), 'order': ['1', '2', '3', '5', '6']}

In [35]:
daframe = pd.DataFrame(data=du)

In [36]:
daframe.head()

  UserId order
0      x     1
1      y     2
2      z     3
3      a     5
4      b     6

In [37]:
sqlEngine = create_engine('mysql+pymysql://userH8pytn071:PwdH8pytn071@localhost:6603/h8pytn071',pool_recycle=3600)

In [ ]:
dbConnection = sqlEngine.connect()