# Catatan Sesi 7
# Basic Visulization

# Exploring Dataset with pandas

We can study about imigran in canada

In [11]:
import numpy as np 
import pandas as pd

In [13]:
!conda install -c anaconda xlrd --yes

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Retrieving notices: ...working... done

In [15]:
df_can = pd.read_excel('Canada.xlsx',
                       sheet_name='Canada by Citizenship',
                       skiprows=range(20),
                       skipfooter=2)
print('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

In [17]:
df_can.head()

,Type,Coverage,Country,AREA,Continent,REG,Region,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [19]:
df_can.tail()

,Type,Coverage,Country,AREA,Continent,REG,Region,DEV,DevName,1980,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1852,3153,2574,1784,2171,1942,1723,1731,2112,99903
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,1,0,0,0,0,0,0,0,2719
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,161,140,122,133,128,211,160,174,217,5744
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,91,77,71,64,60,102,69,46,59,4392
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,615,454,663,611,508,494,434,437,407,11313

In [21]:
df_can.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 44 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Type       195 non-null    object
 1   Coverage   195 non-null    object
 2   Country    195 non-null    object
 3   AREA       195 non-null    int64
 4   Continent  195 non-null    object
 5   REG        195 non-null    int64
 6   Region     195 non-null    object
 7   DEV        195 non-null    int64
 8   DevName    195 non-null    object
 9   1980       195 non-null    int64
 10  1981       195 non-null    int64
 11  1982       195 non-null    int64
 12  1983       195 non-null    int64
 13  1984       195 non-null    int64
 14  1985       195 non-null    int64
 15  1986       195 non-null    int64
 16  1987       195 non-null    int64
 17  1988       195 non-null    int64
 18  1989       195 non-null    int64
 19  1990       195 non-null    int64
 20  1991       195 non-null    int64
 21  1992       195 non-null    int64
 22  1993       195 non-null    int64
 23  1994       195 non-null    int64
 24  1995       195 non-null    int64
 25  1996       195 non-null    int64
 26  1997       195 non-null    int64
 27  1998       195 non-null    int64
 28  1999       195 non-null    int64
 29  2000       195 non-null    int64
 30  2001       195 non-null    int64
 31  2002       195 non-null    int64
 32  2003       195 non-null    int64
 33  2004       195 non-null    int64
 34  2005       195 non-null    int64
 35  2006       195 non-null    int64
 36  2007       195 non-null    int64
 37  2008       195 non-null    int64
 38  2009       195 non-null    int64
 39  2010       195 non-null    int64
 40  2011       195 non-null    int64
 41  2012       195 non-null    int64
 42  2013       195 non-null    int64
 43  Total      195 non-null    int64
dtypes: int64(38), object(6)
memory usage: 67.2+ KB

In [23]:
df_can.columns.values

array(['Type', 'Coverage', 'Country', 'AREA', 'Continent', 'REG',
       'Region', 'DEV', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985,
       1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996,
       1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
       2008, 2009, 2010, 2011, 2012, 2013, 'Total'], dtype=object)

In [25]:
df_can.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194],
      dtype=int64)

In [27]:
df_can.shape

(195, 44)

# Visualisasi Dasar

In [29]:
df_can.drop(['AREA','REG','DEV','Type','Coverage'],axis=1,inplace=True)
df_can.head()

,Country,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,65977
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1223,856,702,560,716,561,539,620,603,18433
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,72156
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2774
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,1,2749

In [ ]:
df_can.rename(columns={'OdName':'Country','AreaName':'Continent','RegName':'Region'},inplace=True)
df_can.columns

In [ ]:
df_can['Total']=df_can.sum(axis=1)

In [ ]:
df_can

In [ ]:
df_can.isnull().sum()

In [ ]:
print(df_can.groupby('Region').sum())

df_can.describe()

In [ ]:
df_can.describe()

# Select Column

In [ ]:
# There are two ways to filter on colum name

# Metod

In [ ]:
# Metode 1
df_can.column_name

In [ ]:
# Metode 2: More robust,and can filter on multiple columns
df['column']
    (returns series)

In [ ]:
df_can.Country

Mari kita coba memfilter daftar negara ('OdName') data selama tahun 1980 - 1985

In [ ]:
df_can[['Country',1980 ,1981]]

# Select Row

In [ ]:
df_can.loc[label]
df_ca.ilocn[index]

In [ ]:
df_can.set_index("Country", inplace=True)

In [ ]:
df_can.head(4)

In [ ]:
df_can.index.name

In [ ]:
df_can.index.name = None

In [ ]:
# 1 The full row data (all columns)
print(df_can.loc['Japan'])

In [ ]:
 print(df_can.iloc[87])

In [ ]:
 print(df_can[df_can.index=='Japan'].T.sequeeze())